doctype html    
html    
    head    
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" ,integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")
        title Wetube
    body    
        include ../partials/header
        main
            block content       
            // 반드시 block이 있어야 컨텐트가 보인다
        include ../partials/footer